.main{
    grid-area: main;
    background-color:#F5F5F5;
}



.text {

    position: absolute;
    top: 30%;
    right: 10%;
    left: 10%;
    text-align: center;
    color: #333;
    font-size: xxx-large;
    font-family: "Arial Black";

}


.AlaskanBrown {
    background: url(AlaskanBrown.jpg) center;
    background-size: 500px;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 43%;
    left: 15%;
    -webkit-transition: 0.2s 0.1s ease;

}
.AlaskanBrown:hover{
    background: url(AlaskanBrown.jpg) center;
    position: absolute;
    width: 550px;
    height: 550px;
    top: 40%;
    left: 14%;
    border-radius: 35px;
    background-size: 550px;
}


