.main{
    grid-area: main;
    background-color:#F5F5F5;
}



.text {

    position: absolute;
    top: 30%;
    right: 10%;
    left: 10%;
    text-align: center;
    color: #333;
    font-size: xxx-large;
    font-family: "Arial Black";

}


.MediumGrey {
    background: url(white.jpg) center;
    background-size: cover;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 45%;
    left: 5%;
    border-radius: 35px;

}

.black {
    background: url(black.jpg) center;
    background-size: cover;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 45%;
    left: 37%;
    border-radius: 35px;
}

.AlaskanBrown{
    background: url(brown.jpg) center;
    background-size: cover;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 45%;
    right: 5%;
    border-radius: 35px;
}
