.header {
    grid-area: header;
    background-color: #404EED;

}

.text {
    position: absolute;
    top: 1%;
    left: 1%;
    text-align: center;
    color: #fff;
    font-size: large;
    font-family: Cambria;

}