.header {
    grid-area: header;
    background-color: #222;

}

.textName {
    position: absolute;
    top: 3%;
    left: 5%;
    text-align: center;
    color: #fff;
    font-size: xxx-large;
    font-family: Algerian;

}

.sections a {
    color: #7C7C7DFF;
    text-decoration: none;
    font-family: Algerian;
    font-size: large;

}

.sections a:hover {
    text-decoration: underline;
    color: white;
}

.Main {
    position: absolute;
    top: 10%;
    left: 30%;

}


.Caps {
    position: absolute;
    top: 10%;
    left: 40%;
}

.Sweatshirt {
    position: absolute;
    top: 10%;
    left: 50%;
}

.Tshirts {
    position: absolute;
    top: 10%;
    left: 63%;
}