.header {
    grid-area: header;
    background-color: #222;

}

.textName {
    position: absolute;
    top: 3%;
    left: 5%;
    text-align: center;
    color: #fff;
    font-size: large;
    font-family: Cambria;

}

.sections {
    color: white;
}

.Main{
    position: absolute;
    top: 10%;
    left: 20%;
}

.Caps {
    position: absolute;
    top: 10%;
    left: 30%;
}

.Shorts {
    position: absolute;
    top: 10%;
    left: 40%;
}

.Tshirts {
    position: absolute;
    top: 10%;
    left: 50%;
}