.app-wrapper {
    margin: 0 auto ;
    display: grid;
    width: 100%;


    grid-template-areas:
    "header"
    "main"
    "footer";

    grid-template-rows: 150px 1000px 100px;
    grid-template-columns: 1fr;

}


.main-content{
    grid-area: main;
    background-color: #fff;



}

