.app-wrapper {
    margin: 0 auto ;
    display: grid;
    width: 100%;



    grid-template-areas:
    "header"
    "main"
    "footer";

    grid-template-rows: 400px 1000px 600px;
    grid-template-columns: 1fr;

}

